.DS_Store
c4hfdemodata/extensioninfo.xsd
c4hfdemodata/platformhome.properties

.metadata
classes
hybris/bin/**/bin
gensrc
 
# Folders to ignore at the root of the repository
log/
temp/
data/
licenses/
hybris/sampleconfigurations/
  
# filter only custom extension
bin/*
!bin/custom/
 
# Absolute path to ignore
config/local.properties
 
# Filename patterns to ignore
*.class
build.xml
Generated*.java
platformhome.properties
*testclasses.xml
extensioninfo.xsd
*hmc.jar
hmc.xsd
items.xsd
beans.xsd
ruleset.xml
*.log
base.properties
#  Addon specific copy folders
**/_ui/addons
**/views/addons
**/tld/addons
**/tags/addons
**/messages/addons
*_bof.jar
kymaexternalservices/lib/.lastupdate
kymaexternalservices/lib/resilience4j-annotations-1.2.0.jar
kymaexternalservices/lib/resilience4j-cache-1.2.0.jar
kymaexternalservices/lib/resilience4j-circuitbreaker-1.2.0.jar
kymaexternalservices/lib/resilience4j-core-1.2.0.jar
kymaexternalservices/lib/resilience4j-retry-1.2.0.jar
kymaexternalservices/lib/resilience4j-spring-1.2.0.jar
kymaexternalservices/lib/vavr-0.9.2.jar
