@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=c2FwLWk4Mzk4NTE6cmk3N2FKR2t4Q0xvdU92Tm1TQW9hS1dYaWVWaWRBUHQ=
always-auth=true
